img.index-banner {
    width: 100%;
    image-rendering: pixelated;
}

div.index-container {
    padding: 16px;
    box-sizing: border-box;
    display: grid;
    gap: 16px;
}

p.index-paragraph {
    padding: 0 16px;
    text-align: justify;
}

p.index-paragraph:last-child {
    margin-bottom: 8px;
}

p.index-paragraph a {
    color: rgba(var(--rgb-accent), 1);
}