{{ template "base.html" . }}

{{ define "PageStyles" }}
<link rel="stylesheet" href="/public/styles/default_index.css?v={{ .Version }}">
{{ end }}

{{ define "PageContent" }}
<div class="index-container">

    <!-- Website Introduction -->
    <p class="effect-rhombus-left">Introduction</p>
    <p class="index-paragraph">
        <b>Heads-up!</b> This is my personal website!
        <br>
        If you're looking for something a bit more professional, visit my <a href="https://www.linkedin.com/in/bakonpancakz">LinkedIn</a>!
    </p>

    <p class="index-paragraph">
        If you'd like to view clean code, <a href="https://panca.kz/goto/codebase">press one</a>
        <br>
        If you'd like to read some rambles, <a href="/blog">press two</a>
        <br>
        If you'd like to speak with a representative, <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">press zero</a>
    </p>

    <!-- Sprite Introduction -->
    <p class="effect-rhombus-left">Story: At the Zoo</p>
    <img class="index-banner" alt="A drizzle of sprites" src="/public/banner_sprites.gif?v={{ .Version }}">
    <p class="index-paragraph">
        <b>Welcome to the Sprite Garden, everyone!</b> Please do watch your step!
    </p>
    <p class="index-paragraph">
        This domain is inhabited by spiritual creatures known as Sprites, most likely
        nicknamed for their small stature. At first glance they may seem unimpressive,
        but in reality, they’re bursting with creative energy! They are the souls
        of the creative, unable to properly express their artistic desires they reside here.
        Under the protection of Boo, the grand entity, they are free to chase their hyperfixations
        until satisfied, after which they’ll reincarnate having discovered another dream to chase.
    </p>
    <p class="index-paragraph">
        They’re mostly harmless, if a little mischievous! Now come along, little ones,
        we have much more to see today!
    </p>

</div>

{{ end }}