{{ define "ArticleContent" }}

<p class="element-header">Introduction</p>
<p class="element-paragraph">
    If you're reading this... I haven't written the article yet :P
</p>
<p class="element-paragraph">
    Luctus montes donec mauris. Vehicula suspendisse condimentum massa fringilla at conubia.
    Senectus laoreet praesent in, porttitor sollicitudin luctus orci scelerisque egestas malesuada faucibus a.
    Arcu imperdiet libero imperdiet nulla libero natoque eu fusce ultricies vehicula nisi.
    Torquent lacus sodales inceptos dignissim sed, mauris feugiat erat.
    Phasellus at tincidunt sociosqu potenti risus aliquam non litora.
    Commodo mi fermentum, id arcu dictum convallis.
    Vehicula convallis, proin fames molestie potenti congue penatibus feugiat porttitor.
    Habitant justo lacinia, curabitur nascetur!
    Dolor nunc accumsan imperdiet penatibus?
    Amet cursus faucibus dui vestibulum nascetur quam.
</p>
<div class="element-divider"></div>

<p class="element-header">Prerequisites</p>
<p class="element-paragraph">
    Praesent augue ligula amet nisl. Litora lectus consectetur aliquet.
    Sociis iaculis dolor nostra pulvinar felis condimentum netus.
    Suscipit enim habitant sed eros etiam, ut odio sed.
    Fringilla quam tempus nisl natoque parturient dolor curabitur tellus.
    Lacus conubia quis inceptos tristique ultricies cum consequat.
    Consequat phasellus proin dolor molestie nec quam cursus mollis vel?
    Eros tempor sollicitudin tortor litora nunc.
    Sem scelerisque semper id ac auctor fusce quis erat imperdiet convallis donec eget!
    Pellentesque tempor nunc ipsum imperdiet quam ipsum habitant feugiat.
</p>

<p class="element-subheader">Hosting</p>
<p class="element-paragraph">
    Odio nibh penatibus erat sociosqu eget iaculis. Ante curabitur bibendum ligula?
    Netus aliquet cursus interdum pharetra. Magnis elementum nunc luctus eu nam sit habitant etiam vestibulum in.
    Lacus nisl ullamcorper molestie! Dignissim, vulputate porta pulvinar duis posuere.
</p>

<p class="element-subheader">Domains</p>
<p class="element-paragraph">
    Curae; laoreet cum duis turpis, feugiat per integer.
    Sit in blandit himenaeos. Penatibus fringilla imperdiet, luctus dapibus elementum.
    Felis senectus pulvinar a natoque risus.
</p>

<p class="element-subheader">Credentials</p>
<p class="element-paragraph">
    Mauris habitasse nulla accumsan fermentum fermentum.
    Magnis amet amet risus senectus in curae;.
    Elementum ac montes sagittis vivamus malesuada elementum senectus ultrices scelerisque fusce.
    In nulla platea.
</p>

<div class="element-divider"></div>

<p class="element-header">Setup DNS</p>
<p class="element-paragraph">
    Nisi vitae vehicula etiam nam auctor, accumsan purus ridiculus molestie.
    Ante malesuada condimentum aliquam etiam auctor arcu porttitor parturient nullam accumsan bibendum?
    Vitae arcu at mattis. Volutpat himenaeos class vitae elit, luctus sociosqu semper?
    Praesent taciti lobortis tortor laoreet magnis tortor sagittis porta facilisi vivamus dictum scelerisque.
    Consectetur elit enim malesuada commodo proin facilisi sagittis!
    Malesuada quam duis non elit himenaeos sem.
    Luctus suspendisse senectus mollis aliquet aliquam pellentesque conubia condimentum suspendisse aptent litora potenti.
    Curabitur sociis lacus turpis, laoreet ligula consequat luctus eu auctor auctor sagittis.
    Turpis nibh feugiat lorem donec quis bibendum.
    Himenaeos sapien interdum aptent.
</p>

<p class="element-header">Setup Linux</p>
<p class="element-paragraph">
    Convallis pharetra vitae tincidunt phasellus bibendum porta, praesent dictum aliquet volutpat.
    Lobortis semper eget consectetur elementum elit hendrerit natoque mauris taciti ante ac augue.
    Ullamcorper viverra vestibulum vehicula nisi metus vestibulum curabitur vehicula et.
    Phasellus ligula vitae posuere penatibus ullamcorper lorem phasellus metus.
    Scelerisque ac lobortis gravida primis?
    Lacus porttitor ullamcorper quisque viverra molestie.
    Lacinia bibendum facilisi tempor cubilia felis eros!
    Etiam blandit lacinia leo urna.
</p>

{{ end }}